<template>
    <li class="food-item">
        <div class="header">
            <img :src="'/images/' + imageName" :alt="imageAlt" />
        </div>
        <div class="title">
            {{ title }}
        </div>
    </li>
</template>

<script>
export default {
    props: {
        imageName: {
            type: String,
            require: true
        },
        imageAlt: {
            type: String,
            require: true
        },
        title: {
            type: String,
            require: true
        }
    }
}
</script>

<style>
.food-item {
    border: #333333 1px solid;
    cursor: pointer;
}
.food-item .header img {
    width: 100px;
    height: 100px;
}
.food-item .title {
    font-size: 12px;
    font-weight: 600;
}
</style>
