<template>
    <div>
        <div id="dnjsdlf">오늘 뭐먹지</div>
        <Nuxt />
        <div id="copyright">
            <p>
                경기도 안산시 상록구 해양4로 31 111동 4001호<br />
                010-6490-9031 / dnjsdlfdld@gamil.com<br />
                Copyright(c) dnjsdlf
            </p>
        </div>
    </div>
</template>
<style>
#dnjsdlf {
    padding: 15px;
    background-color: #333333;
    color: #ffffff;
    font-size: 11px;

}

#copyright {
    padding: 15px;
    background-color: #333333;
    color: #ffffff;
    font-size: 11px;

}
</style>
