<template>
    <div class="clear-both">
        <div class="content-left">
            <ul class="food-item-group clear-both">
                <FoodItem
                    v-for="(item, index) in foodList"
                    v-bind:key="'foodItem' + index"
                    v-bind:imageName="item.foodImg"
                    v-bind:imageAlt="item.foodImgAlt"
                    v-bind:title="item.foodName"
                    @click.native="choiceFood(index)"
                />
            </ul>
        </div>
        <div class="content-right">
            <div v-if="selectedIndex != null">
                <div>음식명 : {{ foodList[selectedIndex].foodName }}</div>
                <div>칼로리 : {{ foodList[selectedIndex].calorie }}</div>
                <div>설명 : {{ foodList[selectedIndex].description }}</div>
                <div>효능 : {{ foodList[selectedIndex].efficacy }}</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'IndexPage',
    data() {
        return {
            selectedIndex: null,
            foodList: [
                { foodName: '수박', foodImg: 'Celebrity.jpg', foodImgAlt: '사과', calorie: 100, description: '짱 맛있어요', efficacy: '장건강'},
                { foodName: '사과', foodImg: 'Celebrity.jpg', foodImgAlt: '사과', calorie: 100, description: '짱 맛있어요', efficacy: '척추기능 향상'},
                { foodName: '메론', foodImg: 'Celebrity.jpg', foodImgAlt: '사과', calorie: 100, description: '짱 맛있어요', efficacy: '장건강'},
                { foodName: '토마토', foodImg: 'Celebrity.jpg', foodImgAlt: '사과', calorie: 100, description: '짱 맛있어요', efficacy: '장건강'},
                { foodName: '바나나', foodImg: 'Celebrity.jpg', foodImgAlt: '사과', calorie: 100, description: '짱 맛있어요', efficacy: '장건강'},
                { foodName: '파인애플', foodImg: 'Celebrity.jpg', foodImgAlt: '사과', calorie: 100, description: '짱 맛있어요', efficacy: '장건강'},
                { foodName: '석류', foodImg: 'Celebrity.jpg', foodImgAlt: '사과', calorie: 100, description: '짱 맛있어요', efficacy: '장건강'},
                { foodName: '오렌지', foodImg: 'Celebrity.jpg', foodImgAlt: '사과', calorie: 100, description: '짱 맛있어요', efficacy: '장건강'},
            ]
        }
    },
    methods: {
        choiceFood(index) {
            this.selectedIndex = index
        }
    }
}
</script>

<style>
div.content-left {
    float: left;
}
div.content-right {
    float: right;
}
ul.food-item-group {
    list-style: none;
}
.clear-both:after {
    content: '';
    display: block;
    clear: both;
}
ul.food-item-group li {
    float: left;
}
</style>
